<div class="relative isolate px-6 pt-14 lg:px-8">
  <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
    <div class="hidden sm:mb-8 sm:flex sm:justify-center">

    </div>
    <div class="text-center">
      <h1 class="text-4xl font-semibold tracking-tight text-balance text-gray-700 sm:text-5xl">Iglesia Bautista
        Reformada Sublime Gracia</h1>
      <p class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8">
        "Santifícalos en tu verdad; tu palabra es la verdad Juan 17:17"
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <p class="text-sm text-gray-600">
          <a routerLink="/about" class="text-blue-600 hover:underline font-medium">
            ¿Quiénes somos... más. →
          </a>
        </p>
      </div>
    </div>
  </div>

  <div class="relative isolate overflow-hidden bg-white py-16 sm:py-24 lg:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-2">

        <!-- Formulario -->
        <div class="max-w-xl lg:max-w-lg">

          <h2 class="text-3xl font-semibold tracking-tight text-gray-900">Recibe cada día los artículos, podcasts, y
            vídeos más recientes.</h2>
          <!-- <p class="mt-4 text-lg text-gray-600">
            Suscríbete
          </p> -->

          <div class="mt-6 flex max-w-md gap-x-4">
            <label for="email-address" class="sr-only">Correo electrónico</label>
            <input id="email-address" name="email" type="email" autocomplete="email" required
              placeholder="Correo electrónico"
              class="min-w-0 flex-auto rounded-md border border-gray-300 bg-white px-3.5 py-2 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 sm:text-sm" />

            <!-- Botón de envío -->
            <button type="submit"
              class="px-5 py-1 bg-blue-400 text-white text-sm font-medium rounded-md hover:bg-blue-600">
              Suscribirme
            </button>
          </div>
        </div>

        <!-- Beneficios -->
        <dl class="grid grid-cols-1 gap-x-8 gap-y-10 sm:grid-cols-2 lg:pt-2">
          <div class="flex flex-col items-start">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-rss-icon lucide-rss">
                <path d="M4 11a9 9 0 0 1 9 9" />
                <path d="M4 4a16 16 0 0 1 16 16" />
                <circle cx="5" cy="19" r="1" />
              </svg>
            </div>
            <dt class="mt-4 text-base font-semibold text-gray-900">Artículo de la semana</dt>
            <dd class="mt-2 text-base/7 text-gray-600">
              Recibe contenido seleccionado especialmente para edificación personal.
            </dd>
          </div>

          <div class="flex flex-col items-start">
            <div>
              <svg xmlns=" http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-shield-check-icon lucide-shield-check">
                <path
                  d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z" />
                <path d="m9 12 2 2 4-4" />
              </svg>
            </div>
            <dt class="mt-4 text-base font-semibold text-gray-900">No enviamos spam</dt>
            <dd class="mt-2 text-base/7 text-gray-600">
              Solo recibirás correos relevantes de nuestra iglesia. Prometido.
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>